.intensive {
  .eight-section {
    padding: 120px 0;
    background-color: #3A3768;
    background-image: url("../img/intensive-eight-bg.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom right;
    color: #fff;

    @include mobile {
      padding: 60px 0 100px;
    }

    & .section-caption {
      position: relative;
      max-width: 720px;
      margin: 0 auto;

      @include mobile {
        text-align: center;
      }

      &:after {
        position: absolute;
        content: '';
        bottom: -42px;
        left: 50%;
        transform: translateX(-50%);
        background-image: url("../img/flags.svg");
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        width: 133px;
        height: 42px;
      }
    }

    &__wrap {
      margin-top: 92px;
      margin-bottom: 52px;
      display: flex;
      justify-content: space-between;

      @include mobile {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 82px;
        margin-bottom: 0;
      }
    }

    &__item  {
      text-align: center;

      @include mobile {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 60px;
      }

      &_wrap {

        &:first-of-type {
          @include mobile {
            text-align: right;
          }
        }

        &:last-of-type {
          @include mobile {
            text-align: left;
          }
        }
      }

      &_bold-text {
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;

        @include mobile {
          font-size: 15px;
        }
      }

      &_simple-text {
        font-weight: 500;
        opacity: .7;
        font-size: 14px;
        line-height: 20px;

        @include mobile {
          font-size: 13px;
        }
      }

      &_img {
        display: block;
        width: 80px;
        height: 80px;
        border-radius: 50%;
        background: linear-gradient(90deg, #B659CF 0%, #644BEC 100%);
        padding: 4px;
        margin: 10px auto;
        position: relative;

        @include mobile {
          flex: 0 0 80px;
          margin: 0 15px;
        }

        & > img {
          width: 100%;
          border-radius: 50%;
          position: relative;
          z-index: 2;
        }
      }

      &:nth-child(n + 5) {
        @include tablet {
          display: none;
        }
      }

      &:not(:last-of-type) {

        .eight-section__item_img:before {
          position: absolute;
          content: '';
          background: linear-gradient(90deg, #644BEC 0%, #B559CF 100%);
          height: 3px;
          width: 170px;
          right: -150px;
          top: 50%;
          transform: translateY(-50%);
          z-index: 1;

          @include mobile {
            width: 3px;
            height: 80px;
            right: 50%;
            transform: translateY(90%);
            top: unset;
          }
        }
      }

      &:nth-child(n+4) {

        @include tablet {
          .eight-section__item_img:before {
            content: none;
          }
        }
      }
    }

    & .purple-btn {
      padding: 18px 0;
      width: 218px;
      border-radius: 50px;
      text-align: center;
      font-size: 20px;
      margin: 0 auto;
      font-weight: 700;

      @include mobile {
        width: 100%;
      }
    }
  }
}