$deep-purple-color: #3A3768;

.intensive {

  .main-offer {
    background-image: url("../img/intensive-first-section-bg.svg");
    color: $deep-purple-color;

    @include mobile {
      padding: 60px 0;
    }

    .purple-btn {
      width: 330px;
      text-align: center;
      display: block;
      border-radius: 55px;
      padding: 16px 0;
      font-size: 20px;
      line-height: 24px;
    }

    &_img-wrap {
      position: absolute;
      top: -40px;
      right: 88px;
      background-image: url("../img/Ellipse-orange.svg");
      background-repeat: no-repeat;
      background-size: contain;
      width: 430px;
      height: 440px;
      display: flex;
      justify-content: center;
      align-items: center;

      @include tablet {
        width: 268px;
        height: 270px;
        top: 10px;
      }

      @include mobile {
        position: static;
        margin-top: 20px;
      }
    }

    &_img {
      position: relative;
      top: unset;
      right: unset;

      @include tablet {
        transform: unset;
        max-width: 90%;
      }
    }

    & .purple-btn {
      @include mobile {
        width: 288px;
      }
    }
  }
}