$deep-purple-color: #3A3768;

.intensive {

  &.lidgen {
    .main-offer {
      & .registration_form {
        padding: 0;
        background-color: unset;
        max-width: unset;
        justify-content: flex-start;

        & .reg-form_formgroup {
          width: fit-content;
          margin-bottom: 0;
        }


        &  input {
          background-color: #fff;
          width: 289px;
          padding: 19px 16px;
        }

        & .purple-btn {
          width: 289px;
          margin-left: 20px;

          @include mobile {
            margin-left: 0;
            margin-top: 15px;
          }
        }
      }
    }
  }

  .main-offer {
    background-image: url("../img/intensive-first-section-bg.svg");
    color: $deep-purple-color;

    @include mobile {
      padding: 60px 0;
    }

    .purple-btn {
      width: 330px;
      text-align: center;
      display: block;
      border-radius: 55px;
      padding: 16px 0;
      font-size: 20px;
      line-height: 24px;
    }

    &_img-wrap {
      position: absolute;
      top: -40px;
      right: 88px;
      background-image: url("../img/Ellipse-orange.svg");
      background-repeat: no-repeat;
      background-size: contain;
      width: 430px;
      height: 440px;
      display: flex;
      justify-content: center;
      align-items: center;

      @include tablet {
        width: 268px;
        height: 270px;
        top: 10px;
      }

      @include mobile {
        position: static;
        margin-top: 20px;
      }
    }

    &_img {
      position: relative;
      top: unset;
      right: unset;

      @include tablet {
        transform: unset;
        max-width: 90%;
      }
    }

    & .purple-btn {
      font-weight: 700;

      @include mobile {
        width: 288px;
      }
    }
  }
}