.intensive {
  .five-section {
    color: $deep-purple-color;
    background-image: url("../img/intensive-five-bg.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center right;
    padding-top: 120px;
    padding-bottom: 144px;
    margin-bottom: 120px;

    & .container {
      position: relative;
    }

    &__img {
      position: absolute;

      & > img {
        width: 100%;
        box-shadow: 0 15px 20px rgba(0, 0, 0, 0.05);
        border-radius: 16px;
      }
    }

    &__img1 {
      width: 390px;
      right: 160px;
      top: -14px;
    }

    &__img2 {
      width: 305px;
      right: 100px;
      bottom: -37px;
    }

    &__content {
      max-width: 570px;

      .section-caption {
        text-align: left;
      }
    }

    &__items {
      margin: 30px 0;
    }

    &__item {
      margin-bottom: 15px;
      padding-left: 39px;
      opacity: .7;
      font-size: 24px;
      line-height: 30px;
      background-image: url("../img/reg-form-check.svg");
      background-size: 18px;
      background-repeat: no-repeat;
      background-position: left center;
    }

    & .purple-btn {
      padding: 16px 0;
      text-align: center;
      width: 344px;
      border-radius: 55px;
      font-size: 20px;
      line-height: 24px;
    }
  }
}