.test .header {
  margin-top: 14px;

  @include mobile {
    margin-top: 5px;
    padding-top: 8px;
    padding-bottom: 8px;

  }

  &_logo {
    @include mobile {
      width: 99px;
    }

    & img {
      max-width: 100%;
    }
  }

  &-transparent-btn {
    width: 227px;
    border: 1px solid #FFFFFF;
    border-radius: 50px;
    padding: 16px 0 16px 45px;
    background-image: url("../img/white-back-arr.png");
    background-size: 15px;
    background-position: 20px center;
    background-repeat: no-repeat;

    @include tablet {
      width: 45px;
      height: 45px;
      padding: 0;
      border-radius: 50%;
      background-position: center center;
      margin-left: 20px;
    }

    & span {
      @include tablet {
        display: none;
      }
    }
  }

  &_right {
    max-width: 510px;

    @include tablet {
      justify-content: flex-end;
    }

    & a.wh-btn {
      width: 153px;
      text-align: center;
      color: #323232;
      background-color: #fff;
      border-radius: 50px;
      padding: 16px 0;
      font-weight: 700;
      font-size: 15px;

      @include tablet {
        margin-right: 20px;
      }

      &:hover {
        text-decoration: underline;
      }
    }

    &__login-btn {
      background-image: url("../img/enter-white.svg");
    }
  }
}

.test {

  & main {
    max-width: 804px;
    margin: 50px auto 160px;

    @include mobile {
      margin-top: 56px;
      margin-bottom: 0;
    }

    & .main-section {
      margin-top: 0;
    }
  }

  & .main-section {

    &__main-block {
      margin-bottom: 0;
    }

    &__caption {
      margin-bottom: 24px;

      @include mobile {
        margin-top: 8px;
        margin-bottom: 16px;
      }
    }

    &__note {
      margin-bottom: 32px;
      max-width: 600px;
      margin-left: auto;
      margin-right: auto;

      @include mobile {
        line-height: 21px;
        max-width: 85%;
      }

      & span {
        display: block;
        font-weight: 700;
        line-height: 36px;

        @include mobile {
          line-height: 21px;
          margin-left: auto;
          margin-right: auto;
        }
      }
    }
  }

  &-stages {
    margin-bottom: 19px;
    display: flex;
    justify-content: space-between;
  }

  &-stage  {
    width: 19%;
    height: 10px;
    border-radius: 20px;
    background-color: #323232;

    &.active {
      background-color: #FFD54E;
    }
  }

  &-form {
    margin: 0 auto;
    padding: 32px;
    background-color: #323232;
    border-radius: 20px;

    @include mobile {
      padding: 24px 16px;
    }

    &600 {
      max-width: 600px;
    }

    &_caption {
      font-size: 32px;
      line-height: 110%;
      color: #fff;
      margin-bottom: 24px;

      @include mobile {
        font-size: 18px;
      }
    }

    &_text {
      max-width: 620px;
      color: rgba(255, 255, 255, 0.7);
      font-size: 18px;
      line-height: 150%;

      @include mobile {
        font-size: 14px;
        line-height: 21px;
        margin-top: -8px;
      }
    }

    &_title {
      color: #fff;
      font-weight: bold;
      font-size: 24px;
      line-height: 110%;
      margin-bottom: 16px;

      @include mobile {
        font-size: 18px;
      }
    }

    &_formgroup {
      width: 100%;
      position: relative;

      & button {
        display: block;
        width: 100%;
        background-color: #FFD54E;
        border-radius: 50px;
        color: #323232;
        text-align: center;
        font-size: 24px;
        font-weight: 700;
        cursor: pointer;
        border: none;
        padding: 17px 0;
        margin-top: 32px;
        transition: all ease-in-out .3s;

        @include mobile {
          margin-top: 24px;
          font-size: 20px;
        }

        & > a {
          color: inherit;
          font-family: $muller;
        }

        &:hover {
          background-color: #fdc111;
        }
      }
    }

    &_input {
      display: block;
      margin-bottom: 16px;
      padding: 14px 16px;
      background-color: #4E4D4D;
      border-radius: 8px;
      color: rgba(255, 255, 255, 0.7);
      font-size: 16px;
      font-weight: 400;
      width: 100%;

      @include mobile {
        padding: 10px 16px;
      }

      &::placeholder {
        color: rgba(255, 255, 255, 0.7);
        font-size: 16px;
        font-weight: 400;
      }

      &.select {
        background-image: url("../img/select-icon.png");
        background-repeat: no-repeat;
        background-size: 8px;
        background-position: 98% center;
        cursor: pointer;
        position: relative;

        @include mobile {
          background-position: 95% center;
        }

        & .hide {
          position: absolute;
          margin-top: 10px;
          background-color: #4E4D4D;
          width: 100px;
          left: 0;
          border-bottom-left-radius: 8px;
          border-bottom-right-radius: 8px;
          transition: all ease-in-out .3s;
          overflow: auto;
          max-height: 0;
          z-index: 10;

          &::-webkit-scrollbar {
            width: 0;
          }

          & p {
            width: 100%;
            padding: 5px;
            text-align: center;

            &:not(:last-child) {
              border-bottom: 1px solid #fff;
            }
          }

          &.active {
            display: block;
            opacity: 1;
            max-height: 300px;
          }
        }
      }
    }

    & .soc-networks {
      display: flex;
      width: 100%;
      justify-content: space-between;
      align-items: center;
      margin: 16px 0 32px;

      @include mobile {
        flex-direction: column;
        align-items: flex-start;
      }

      &_icons {
        display: flex;

        @include mobile {
          margin-bottom: 23px;
        }
      }

      &_icon {
        height: 40px;
        width: 40px;
        margin-right: 16px;

        &-img {
          min-width: 100%;
        }
      }

      & .again {
        position: relative;
        color: #FFD54E;
        font-size: 18px;
        padding: 5px 0 5px 28px;

        &:before {
          position: absolute;
          content: '';
          width: 16px;
          height: 20px;
          background-repeat: no-repeat;
          background-size: contain;
          background-position: center;
          top: 43%;
          transform: translateY(-50%);
          left: 0;
          background-image: url("../img/again-test-icon.svg");
        }
      }
    }

    &_answers {
      margin-top: 32px;
      display: flex;

      @include mobile {
        margin-top: 16px;
      }
    }

    &_answer {
      padding: 10px 24px;
      background-color: #4E4D4D;
      border-radius: 116px;
      min-width: 166px;
      margin-right: 15px;
      font-size: 18px;
      color: rgba(255, 255, 255, 0.7);
      line-height: 28px;
      transition: all ease-in-out .3s;
      font-weight: 500;

      @include mobile {
        display: flex;
        justify-content: center;
        align-items: center;
        min-width: unset;
      }

      &:hover {
        background-color: #FFD54E;
        color: #323232;
      }
    }

    &_notice {
      text-align: center;
      color: rgba(255, 255, 255, 0.7);
      font-size: 12px;
      margin-top: 16px;

      & > a {
        text-decoration: underline;
        color: #FFD54E;
        
        &:hover {
          text-decoration: none;
        }

        @include mobile {
          display: block;
          line-height: 17px;
        }
      }
    }

    .warning {
      bottom: -13px;
      color: #FFD54E;
      margin-top: -10px;
      margin-bottom: 11px;
    }
  }
}