.battles {
  .main-offer {
    background-color: $battle-purple;
    padding-bottom: 0;

    &_caption {
      max-width: 675px;
    }

    & .container {
      background-image: url("../img/battle-first-bg.svg");
      background-repeat: no-repeat;
      background-size: initial;
      background-position: bottom left;
      padding-bottom: 152px;
    }

    &_subcaption {
      opacity: .7;

      & > span {
        font-weight: 700;
      }
    }

    & .btn {
      display: inline-block;
      border-radius: 55px;
      border: 1px solid #FC8E2D;
      text-align: center;
      padding: 16px 0;
      font-size: 20px;
      line-height: 24px;
      font-weight: 700;

      &:first-of-type {
        width: 263px;
        margin-right: 15px;
      }

      &:last-of-type {
        width: 288px;
        color: #fff;
        transition: all ease-in-out .3s;

        &:hover {
          background-color: $orange-color;
        }
      }
    }
  }
}