.battles {
  .five-section {
    padding: 120px 0;
    background-color: #A166F0;
    color: #fff;
    text-align: center;
    background-image: url("../img/battle-first-bg.svg"),
                      url("../img/battle-t-shirt.png"),
                      url("../img/battle-stikers.png");
    background-position:  bottom center,
                          bottom right,
                          bottom left;
    background-repeat: no-repeat;
    background-size: initial;

    .container {
      max-width: 1010px;
    }

    &__text {
      font-size: 28px;
      line-height: 42px;
      opacity: .7;
      margin: 30px auto 0;
    }

    &__wrap {
      display: flex;
      margin: 60px 0;
      justify-content: space-between;
    }

    &__item {
      width: 48%;

      &_img {
        margin: 0 auto 20px;
        max-width: 80px;
        display: flex;
        justify-content: center;
        align-items: center;

        & > img {
          width: 100%;
        }
      }

      &_text {
        font-size: 20px;
        line-height: 30px;

        & > span {
          font-weight: 700;
        }
      }
    }

    & .btn {
      width: 316px;
      text-align: center;
      padding: 16px 0;
      margin: 0 auto;
      font-size: 20px;
      line-height: 24px;
      font-weight: 700;
      border-radius: 55px;
    }
  }
}