.how-we-preparing {

  &_item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    opacity: 0;
    margin-top: 50px;

    &.animate__fadeInUp {
      opacity: 1;
    }

    &__img-wrap {
      flex: 0 0 50%;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &__img {
      width: 60%;
    }

    &__content {

      & .base-caption {
        text-align: left;
      }
    }

    &__text {
      font-size: 20px;
      line-height: 30px;
      color: $black-color;
      opacity: .7;
      font-weight: 400;
      margin-top: 30px;

      & .note {
        font-weight: 600;
      }
    }

    &:nth-child(even) {

      .how-we-preparing_item__img-wrap {
        order: 2;
      }
    }
  }
}