@import 'variables';
@import 'fonts';
@import 'header';
@import 'main-offer';
@import 'description';
@import 'subscriptions';
@import 'how-we-prepare';
@import 'how-learning';
@import 'personal';
@import 'why-now';
@import 'program';
@import 'form-section';
@import 'q-a';
@import 'join-us';
@import 'footer';

@import 'form-page';

