.personal {
  margin-bottom: 124px;

  @include tablet {
    margin-bottom: 60px;
  }

  & .section-caption {

    @include tablet {
      text-align: left;
    }
  }

  &_slider {
    margin-top: 30px;

    @include mobile {
      margin-top: 80px;
    }

    &__arrows  {
      position: absolute;
      right: 0;
      top: -36px;
      transform: translateY(-100%);
      display: flex;
      width: 88px;
      justify-content: space-between;
      align-items: center;

      @include mobile {
        right: unset;
        left: 0;
        top: -16px;
      }
    }

    &__arr {
      width: 29px;
      height: 29px;
      background-repeat: no-repeat;
      background-size: contain;
      cursor: pointer;
      background-color: #fff;
      border: none;

      &:focus {
        outline: none;
      }

      & span {
        display: none;
      }

      &:first-child {
        background-image: url("../img/slider-lt-arr.svg");
      }

      &:last-child {
        background-image: url("../img/slider-rt-arr.svg");
      }
    }
  }

  &_slide {
    width: 100%;
    display: flex;
    padding: 67px 103px 60px 62px;
    justify-content: space-between;
    align-items: flex-start;
    border: 4px solid #F1F4FF;
    background-color: #fff;
    border-radius: 8px;

    @include tablet {
      padding: 60px 10px 60px 20px;
    }

    @include mobile {
      padding: 20px 0 60px 0;
      border-top: none;
      border-right: none;
      border-left: none;
      flex-direction: column;
    }

    &__img-wrap {
      flex: 0 0 50%;
      display: flex;
      align-items: flex-start;

      @include mobile {
        justify-content: center;
        margin-bottom: 36px;
      }
    }

    &__img {
      max-width: 85%;
      height: auto;
      border-radius: 8px;
      box-shadow: 0 0 16px 0 rgba(0, 0, 0, .5);
    }

    &__content {
      max-width: 495px;
    }

    &__caption {
      margin-bottom: 12px;
      font-size: 32px;
      line-height: 32px;
      font-weight: 600;

      @include tablet {
        font-size: 20px;
        line-height: 20px;
      }
    }

    %vuz-icon {
      content: '';
      position: absolute;
      background-repeat: no-repeat;
      top: 50%;
      transform: translateY(-50%);
      background-size: contain;
      background-position: center;
    }

    &__position {
      margin-bottom: 30px;
      font-weight: 500;
      line-height: 20px;
      font-size: 20px;
      position: relative;
      width: fit-content;

      @include tablet {
        margin-bottom: 21px;
        font-size: 14px;
        line-height: 14px;
      }

      &.mgu:after {
        @extend %vuz-icon;
        width: 32px;
        height: 32px;
        background-image: url("../img/mgu-logo.png");
        right: -44px;
      }

      &.mfti:after {
        @extend %vuz-icon;
        background-image: url("../img/logo_sm_mipt.svg");
        width: 80px;
        height: 32px;
        right: -90px;
      }
    }

    &__text {
      font-weight: 400;
      font-size: 20px;
      line-height: 30px;
      color: $grey-color;
      margin-bottom: 30px;

      @include tablet {
        font-size: 15px;
        line-height: 24px;
      }

      @include mobile {
        font-size: 14px;
      }
    }

    &__results-wrap {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
    }

    &__results-item {

      @include mobile {
        width: 50%;
      }
    }

    &__results-name {
      font-size: 15px;
      color: $grey-color;
      margin-bottom: 5px;

      @include mobile {
        font-size: 11px;
      }
    }

    &__results-value {
      font-size: 20px;
      font-weight: 600;

      @include mobile {
        font-size: 14px;
      }
    }

    &__olympiads {
      margin-top: 15px;
    }

    &__olympiad {
      font-weight: 600;
      color: $black-color;
      display: flex;
      align-items: center;
      margin-bottom: 10px;

      & img {
        height: 28px;
        max-width: 28px;
        margin-right: 10px;
        width: unset!important;
      }
    }
  }
}