%params-icons {
  width: 24px;
  height: 24px;
  position: absolute;
  content: '';
  left: 0;
  top: 0;
  background-size: contain;
}

.program {
  padding: 120px 0;

  @include tablet {
    padding: 80px 0;
  }

  @include mobile {
    padding: 60px 0;
  }

  & .section-caption {
    text-align: left;
  }

  &_subcaption {
    margin: 30px 0;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: $grey-color;

    @include mobile {
      font-size: 16px;
      line-height: 24px;
      margin-top: 15px;
    }
  }

  &_wrap {
    display: flex;
    flex-direction: column;
  }

  &_item {
    background-color: #F1F4FF;
    padding: 40px;
    border-radius: 8px;
    margin-bottom: 15px;
    position: relative;
    cursor: pointer;
    transition: all ease-in .3s;

    @include mobile {
      padding: 12px 15px;
    }

    &:hover &__caption {
      color: $purple-color;
    }

    &:after {
      position: absolute;
      content: '';
      width: 24px;
      height: 24px;
      background-image: url("../img/bottom-arr.svg");
      top: 40px;
      right: 40px;

      @include mobile {
        width: 13px;
        height: 13px;
        background-size: contain;
        top: 25px;
        right: 15px;
      }
    }

    &__caption {
      font-weight: 500;
      font-size: 24px;
      line-height: 34px;
      transition: all ease-in .3s;

      @include mobile {
        font-size: 14px;
      }
    }

    &__hide-content {
      display: flex;
      justify-content: space-between;
      transition: all ease .5s;
      overflow: auto;
      max-height: 0;
      padding-top: 0;

      @include tablet {
        flex-direction: column;
      }
    }

    &__cases {
      flex: 0 0 48%;

      @include tablet {
        margin-bottom: 30px;
      }
    }

    &__case {
      color: $grey-color;
      padding-left: 43px;
      font-size: 20px;
      margin-bottom: 25px;
      position: relative;

      @include mobile {
        font-size: 14px;
        padding-left: 30px;
      }

      &:before {
        position: absolute;
        content: '';
        width: 13px;
        height: 13px;
        border: 3px solid #FFA07D;
        background-color: #fff;
        border-radius: 50%;
        top: 0;
        left: 0;
      }

      &:not(:last-child):after {
        position: absolute;
        content: '';
        height: 25px;
        width: 3px;
        background-image: url("../img/dashed.svg");
        left: 8px;
        top: 20px;

        @include mobile {
          height: 45px;
        }
      }
    }

    &__params {
      max-width: 500px;
      width: 100%;
    }

    &__param {
      padding-left: 34px;
      position: relative;
      height: 39px;
      display: flex;
      align-items: center;
      margin-right: 63px;
      font-size: 20px;
      color: $grey-color;

      @include mobile {
        font-size: 14px;
        margin-right: 0;
      }

      &:not(:last-child) {
        padding-bottom: 15px;
        margin-bottom: 15px;
        border-bottom: #CBD3F2 1px solid;
      }

      &:first-child:before {
        @extend %params-icons;
        background-image: url("../img/time-icon.svg");
      }

      &:nth-child(2):before {
        @extend %params-icons;
        background-image: url("../img/blank-icon.svg");
      }

      &:nth-child(3):before {
        @extend %params-icons;
        background-image: url("../img/test-check-icon.svg");
      }
    }

    &.active:after {
      background-image: url("../img/top-arr.svg");
    }

    &.active &__hide-content {
      max-height: 700px;
      padding-top: 30px;

      @include mobile {
        padding-top: 15px;
      }
    }

    &.active &__caption{
      color: $purple-color;
      padding: 0;
    }
  }
}