.subscription {
  padding: 120px 0;
  //background-image: url("../img/subscription-bg.svg");
  background-repeat: no-repeat;
  background-size: contain;

  & .section-caption {
    margin-bottom: 60px;
  }

  & .container {
    max-width: 1010px;
  }

  &_wrap {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  &_case {
    max-width: 495px;
    padding: 60px 50px;
    background-color: #fff;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
    border-radius: 8px;

    & .base-caption {
      margin-bottom: 15px;
    }

    &__coast {
      margin: 15px auto;
      font-size: 24px;
      font-weight: 600;
      width: fit-content;

      & .old-coast {
        color: $black-color;
        opacity: .7;
        font-weight: 400;
        text-decoration: line-through;
      }
    }
  }

  &_advantages {
    display: flex;
    flex-direction: column;

    &__item {
      padding: 15px 0;
      font-size: 16px;
      line-height: 23px;
      color: $grey-color;
      position: relative;

      &:before {
        content: '';
        width: 24px;
        height: 24px;
        position: absolute;
        left: -35px;
        top: 15px;
        background-image: url("../img/dis-icon.svg");
      }

      &-active:before {
        background-image: url("../img/check-icon.svg");
      }

      &:not(:last-child) {
        border-bottom: 1px solid #CBD3F2;
      }

      &:last-child:before {
        background-image: url("../img/chat-icon.svg");
      }
    }
  }

  %base-caption {
    padding-left: 39px;
    position: relative;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;

    &:before {
      background-size: cover;
      content: '';
      position: absolute;
      left: 0;
      width: 24px;
      height: 24px;
    }
  }

  &_basic {

    & .base-caption {
      @extend %base-caption;

      &:before {
        background-image: url("../img/base-emoji.svg");
      }
    }

    & .subscription_case__coast {
      color: $purple-color;
    }
  }

  &_premium {
    padding-top: 92px;
    position: relative;

    &__header {
      position: absolute;
      background-color: $green-color;
      top: 0;
      left: 0;
      width: 100%;
      border-top-right-radius: 8px;
      border-top-left-radius: 8px;
      text-align: center;
      color: #fff;
      text-transform: uppercase;
      letter-spacing: 0.02em;
      font-size: 14px;
      font-weight: 600;
      padding: 10px 0 8px;
    }

    & .base-caption {
      @extend %base-caption;

      &:before {
        background-image: url("../img/prem-emoji.svg");
      }
    }

    & .subscription_case__coast {
      color: $green-color;
    }
  }

  & .purple-btn,
  & .green-btn {
    width: 332px;
    text-align: center;
    margin: 0 auto;
    padding: 15px 0;
    border-radius: 50px;
  }

  &_note {
    padding: 11.5px 10px 11.5px 36px;
    color: $green-color;
    border: 1px solid #B0C1FF;
    border-radius: 47px;
    width: fit-content;
    margin: 60px auto 0;
    position: relative;
    font-size: 14px;
    line-height: 14px;
    font-weight: 500;
    letter-spacing: 0.02em;

    &:before {
      position: absolute;
      content: '';
      width: 16px;
      height: 16px;
      background-image: url("../img/attention-icon.svg");
      background-repeat: no-repeat;
      left: 10px;
    }
  }
}