@mixin small-pc {
  @media(max-width: $small-pc) {
    @content;
  }
}

@mixin tablet {
  @media(max-width: $tablet) {
    @content;
  }
}

@mixin mobile {
  @media(max-width: $mobile) {
    @content;
  }
}

@import 'index';

body,
p,
ul, li,
h1, h2, h3, h4, h5, h6,
input,
textarea,
figure,
label,
a {
  margin: 0;
  padding: 0;
  list-style-type: none;
  border: none;
  text-decoration: none;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  font-family: $muller;
  color: $black-color;
}

.container {
  max-width: $container;
  margin: 0 auto;

  @include small-pc {
    padding-left: 20px;
    padding-right: 20px;
  }

  @include tablet {
    padding-left: 16px;
    padding-right: 16px;
  }
}

// buttons styles

%button {
  display: block;
  transition: all ease-in .3s;
  cursor: pointer;
  font-family: $muller;
}

.gold-btn {
  @extend %button;
  color: $deep-grey-color;
  border: 1px solid $deep-grey-color;
  background-color: $gold-color;

  &:hover {
    border-color: $gold-color;
    background-color: $deep-grey-color;
    color: $gold-color;
  }
}

.white-btn {
  @extend %button;
  color: $purple-color;
  border: 1px solid $purple-color;
  background-color: #fff;

  &:hover {
    border-color: #fff;
    background-color: $purple-color;
    color: #fff;
  }
}
.simple-btn {
  @extend %button;
  color: $purple-color;
  border-bottom: 2px solid #fff;

  &:hover {
    border-bottom-color: $purple-color;
  }
}
.purple-btn {
  @extend %button;
  color: #fff;
  background-color: $purple-color;
  border: 1px solid #fff;

  &:hover {
    color: $purple-color;
    background-color: #fff;
    border-color: $purple-color;
  }
}
.green-btn {
  @extend %button;
  color: #fff;
  background-color: $green-color;
  border: 1px solid $green-color;

  &:hover {
    color: $green-color;
    background-color: #fff;
    border-color: $green-color;
  }
}

// end buttons styles

// captions styles

%caption {
  text-align: center;
  font-weight: 600;
}

.section-caption {
  @extend %caption;
  font-size: 40px;
  line-height: 40px;

  @include tablet {
    font-size: 32px;
    line-height: 32px;
  }

  @include mobile {
    font-size: 24px;
    line-height: 24px;
    text-align: left;
  }
}

.base-caption {
  @extend %caption;
  font-size: 30px;
  line-height: 30px;

  @include mobile {
    font-size: 18px;
    line-height: 18px;
  }
}

// end captions styles

main, footer {
  //display: none;
}
